.infos .infosbg .header .content {
    background: url('./img/cores_como-ajudar_banner.png');
    background: url('./img/cores_como-ajudar_banner@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infos .howtohelp {
    padding: 1.25rem 2.313rem;
    justify-content: center;
    color: var(--footer-color);
}

.infos .howtohelp p {
    max-width: 56rem;
    text-align: justify;
    margin: auto;
}

.infos .howtohelp h2 {
    color: var(--purple);
    padding-bottom: 0.625rem;
    text-align: center;
}

.infos .howtohelp .cards {
    justify-content: center;
    margin: 1.875rem auto 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.infos .howtohelp .cards div, .infos .howtohelp .cards img, .infos .howtohelp .cards p {
    width: 100%;
    max-width: 5.313rem;
}

.infos .howtohelp .cards div + div {
    margin: 0 0 1rem 1rem;
    justify-content: center;
}

.infos .howtohelp .cards p {
    font-size: 0.875rem;
    font-weight: 800;
    text-align: center;
    padding-top: 0.625rem;
}

.infos .howtohelp .cards .boxopen {
    color: var(--purple);
}

.infos .howtohelp .cards .handshelping {
    color: var(--red);
}

.infos .howtohelp .cards .handheart {
    color: var(--green);
}

.infos .howtohelp .cards .paintbrush {
    color: var(--orange);
}

.infos .howtohelp .cards .palette {
    color: var(--yellow);
}

.infos .donation {
    display: grid;
    grid-template-columns: 100%;
    background: var(--background-dark);
    justify-content: center;
    color: var(--text-color);
}

.infos .donation .element {
    padding: 1.25rem 1rem;
    text-align: center;
    width: 100%;
}

.infos .donation .element p {
    font-weight: 700;
}

.infos .donation .element:nth-child(1) div {
    max-width: 10rem;
    padding: 1.25rem;
    margin: auto;
    border: 2px solid var(--text-color);
}

.infos .donation .element:nth-child(2) {
    background: var(--purple);
}

.infos .donation .element:nth-child(2) p {
    padding: 0 1rem 0;
}

.infos .donation .element:nth-child(3) div {
    margin: 1.55rem auto 2.3rem;
}

.infos .donation .element img {
    margin-top: 0.625rem;
    width: 100%;
    max-width: 8.563rem;
}

.infos .donation .element div .button {
    text-decoration: none;
    color: var(--background-dark);
    background-color: var(--text-color);
    padding: 0.75rem 2rem;
    border-radius: 25px;
    text-align: center;
    transition: 0.5s;
    display: inline-flex;
    align-items: center;
}

.infos .donation .element div .button img {
    width: 0.813rem;
    margin: 0 0 0 0.4rem;
}

.infos .infoimage {
    width: 100%;
    height: 13.125rem;
    background: url('./img/cores_como-ajudar_doacao.png');
    background: url('./img/cores_como-ajudar_doacao@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infos .help {
    padding: 2.5rem 0 5rem;
    color: var(--footer-color);
    justify-content: center;
}

.infos .help h2 {
    text-align: center;
    color: var(--background-dark);
}

.infos .help .card {
    display: grid;
    row-gap: 1.25rem;
    justify-content: center;
}

.infos .help .card div {
    margin: auto;
    display: grid;
    justify-content: center;
}

.infos .help .card div img {
    width: 100%;
    max-width: 33.5rem;
}

.infos .help .card div h3 {
    padding: 2.5rem 0 0.625rem;
    text-align: center;
}

.infos .help .card div p {
    padding-bottom: 1.25rem;
    text-align: justify;
    margin: 0 2.313rem 0;
}

.infos .help .card:nth-of-type(odd) {
    display: flex;
    flex-direction: column-reverse;
}

.infos .help .card:nth-of-type(odd) img {
    margin-top: 1.25rem;
}

.infos .help .orange h3 {
    color: var(--orange);
}

.infos .help .orange a {
    background: var(--orange);
}

.infos .help .red h3 {
    color: var(--red);
}

.infos .help .red a {
    background: var(--red);
}

.infos .help .green h3 {
    color: var(--green);
}

.infos .help .green a {
    background: var(--green);
}

.infos .help .yellow h3 {
    color: var(--yellow);
}

.infos .help .yellow a {
    background: var(--yellow);
}

@media screen and (min-width: 400px) {
    .infos .donation .element:nth-child(1) div {
        max-width: 13.188rem;
    }
}

@media screen and (min-width: 1100px) {
    .infos .howtohelp {
        padding: 3.125rem 2.313rem 1.875rem;
    }
        
    .infos .howtohelp h2 {
        padding-bottom: 1.875rem;
    }
    
    .infos .howtohelp .cards div, .infos .howtohelp .cards img, .infos .howtohelp .cards p {
        max-width: 6.938rem;
    }
    
    .infos .howtohelp .cards div + div {
        margin: 0 0 1rem 2rem;
    }

    .infos .donation {
        width: 100%;
        height: 19.125rem;
        display: grid;
        grid-template-columns: calc(50% - 12rem) 22rem calc(50% - 12rem);
        align-items: center;
    }
    
    .infos .donation .element {
        padding: 1.875rem 1rem;
    }

    .infos .donation .element:nth-of-type(1){
        justify-self: right;
    }

    .infos .donation .element:nth-of-type(2) {
        height: 100%;
    }

    .infos .donation .element:nth-of-type(1), .infos .donation .element:nth-of-type(2), .infos .donation .element:nth-of-type(3) {
        max-width: 22rem;
    }

    .infos .infoimage {
        height: 22.813rem;
    }
    
    .infos .help {
        padding: 4.375rem 0 6.875rem;
    }
    
    .infos .help h2 {
        text-align: center;
        padding-bottom: 3.125rem;
        color: var(--background-dark);
    }
    
    .infos .help .card, .infos .help .card:nth-of-type(odd) {
        display: grid;
        grid-template-columns: 33.5rem 33.5rem;
        column-gap: 1.25rem;
        justify-content: center;
    }

    .infos .help .card h3, .infos .help .card:nth-of-type(odd) h3 {
        padding: 0 0 1rem;
    }
    
    .infos .help .card:nth-of-type(odd) img {
        margin-top: 0;
    }

    .infos .help .card + .card {
        margin-top: 4.375rem;
    }
}