.button {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--background-dark);
    padding: 0.75rem 2rem;
    border-radius: 25px;
    text-align: center;
    transition: 0.5s;
}

.button:hover {
    box-shadow: 0 0 16px #000000;
}