header {
    margin: 6.2rem 0 0 0;
    width: 100%;
    height: 23rem;
    align-items: center;
}

header h1 {
    font: 800 2.5rem Nunito;
    color: var(--background);
    text-align: center;
    padding: 5rem 21.563rem 0 21.563rem;
}

header .button-area {
    margin: 1.875rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}